<div class="step">
  <div class="row">
    <div class="col-lg-6 image">
      {{ content.field_main_icon }}
    </div>
    <div class="col-lg-5 content">
      <h3>{{ content.field_title }}</h3>
      {{ content.field_text }}
      {{ content.field_image_upload }}
      {{ content.field_link }}
    </div>
  </div>
  <div class="divider"></div>
</div>
