
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="text-image">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-lg-1">
              <div class="row">
                {% if content.field_image_location[0]['#plain_text'] == "left" %}

                  <div class="col-lg-5 image">
                    {{ content.field_image_upload }}
                  </div>
                  <div class="col-lg-5  offset-lg-2 content">
                    <h2>{{ content.field_title }}</h2>
                    <p>{{ content.field_text }}</p>
                  </div>
                {% else %}
                  <div class="col-lg-5 content">
                    <h2>{{ content.field_title }}</h2>
                    <p>{{ content.field_text }}</p>
                  </div>
                  <div class="col-lg-5 offset-lg-2 image">
                    {{ content.field_image_upload }}
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
