{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="hero" style="background-image: url('{{ file_url(paragraph.field_image_upload.entity.field_media_image.entity.fileuri) }}') ">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1 content">
              <h3>{{ content.field_title }}</h3>
              <p>{{ content.field_text }}</p>
              {{ content.field_icons }}
              {{ content.field_link }}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
