{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
] %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="main-banner {{ content.field_background_colour.0|render|lower}}" style="background-image: url('{{ file_url(paragraph.field_image_upload.entity.field_media_image.entity.fileuri) }}') ">
            <div class="content">
              <h1>{{ content.field_title }}</h1>
              <p>{{ content.field_text }}</p>
              {{ content.field_link }}
            </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
